= simple_form_for(@canvas, :html => {:class => 'canvas'}) do |f|
  = f.error_notification

  .form-actions
    = f.button :submit, :class => 'btn btn-primary btn-large pull-right'
    = f.input :name, :class => 'pull-left', :label => "Name your great idea: &nbsp;", :label_html => {:class => 'lead pull-left'}, :input_html => { :size => '95'}


  .row-fluid.upper
    .span2
      #partnership.full-vertical.box
        .icon
        = f.input :partnerships, :as => :text, :input_html => { :cols => '40', :rows => "20" }
    .span3
      #activities.half-vertical.box
        .icon
        = f.input :activities, :as => :text, :input_html => { :cols => '40', :rows => "8" }
      #resources.half-vertical.box
        .icon
        = f.input :resources, :as => :text, :input_html => { :cols => '40', :rows => "9" }
    .span2
      #propositions.full-vertical.box
        .icon
        = f.input :propositions, :as => :text, :input_html => { :cols => '40', :rows => "20" }
    .span3
      #relationship.half-vertical.box
        .icon
        = f.input :relationships, :as => :text, :input_html => { :cols => '40', :rows => "8" }
      #channels.half-vertical.box
        .icon
        = f.input :channels, :as => :text, :input_html => { :cols => '40', :rows => "9" }
    .span2
      #segments.full-vertical.box
        .icon
        = f.input :segments, :as => :text, :input_html => { :cols => '40', :rows => "20" }

  .row-fluid.lower
    .span6
      #cost.box
        .icon
        = f.input :cost, :as => :text, :input_html => { :cols => '40', :rows => "9" }
    .span6
      #streams.box
        .icon
        = f.input :revenue, :as => :text, :input_html => { :cols => '40', :rows => "9" }

