= simple_form_for(@canvas) do |f|
  = f.error_notification

  .form-inputs

    = f.input :key_partnerships
    = f.input :key_activities
    = f.input :key_resources
    = f.input :value_propositions
    = f.input :customer_relationships
    = f.input :channels
    = f.input :customer_segments
    = f.input :cost_structure
    = f.input :revenue_streams

  .form-actions
    = f.button :submit
