%h1 Listing canvases

%table
  %tr
    %th Key Partnerships
    %th Key Activities
    %th Key Resources
    %th Value Propositions
    %th Customer Relationships
    %th Channels
    %th Customer Segments
    %th Cost Structure
    %th Revenue Streams
    %th
    %th
    %th

  - @canvases.each do |canvas|
    %tr
      %td= canvas.partnerships
      %td= canvas.activities
      %td= canvas.resources
      %td= canvas.propositions
      %td= canvas.relationships
      %td= canvas.channels
      %td= canvas.segments
      %td= canvas.cost
      %td= canvas.revenue

      %td= link_to 'Show', canvas
      %td= link_to 'Edit', edit_canvas_path(canvas)
      %td= link_to 'Destroy', canvas, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Canvas', new_canvas_path
