%table.table.table-stripped.lead
  %tr
    %th Your saved Canvases
    %th
    %th
    %th

  - @canvases.each do |canvas|
    %tr
      %td= canvas.name

      %td= link_to 'Show', canvas
      %td= link_to 'Edit', edit_canvas_path(canvas)
      %td= link_to 'Destroy', canvas, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Canvas', new_canvas_path, :class => 'btn btn-large btn-primary'
