%h1 Listing canvases

%table.table.table-stripped
  %tr
    %th Name
    %th Author
    %th
    %th
    %th

  - @canvases.each do |canvas|
    %tr
      %td= canvas.name
      %td= canvas.user.name

      %td= link_to 'Show', canvas
      %td= link_to 'Edit', edit_canvas_path(canvas)
      %td= link_to 'Destroy', canvas, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Canvas', new_canvas_path
