%p#notice= notice

= simple_form_for(@canvas, :html => {:class => 'canvas'}) do |f|
  = f.error_notification

  .form-actions
    %p.lead.pull-right
      %b Author:
      = @canvas.user.name

    %p.lead.pull-left
      %b Name:
      = @canvas.name

  .row-fluid.upper
    .span2
      #partnership.full-vertical.box
        .icon
        = f.input :partnerships, :disabled => true, :as => :text, :input_html => { :cols => '40', :rows => "20" }
    .span3
      #activities.half-vertical.box
        .icon
        = f.input :activities, :disabled => true, :as => :text, :input_html => { :cols => '40', :rows => "8" }
      #resources.half-vertical.box
        .icon
        = f.input :resources, :disabled => true, :as => :text, :input_html => { :cols => '40', :rows => "9" }
    .span2
      #propositions.full-vertical.box
        .icon
        = f.input :propositions, :disabled => true, :as => :text, :input_html => { :cols => '40', :rows => "20" }
    .span3
      #relationship.half-vertical.box
        .icon
        = f.input :relationships, :disabled => true, :as => :text, :input_html => { :cols => '40', :rows => "8" }
      #channels.half-vertical.box
        .icon
        = f.input :channels, :disabled => true, :as => :text, :input_html => { :cols => '40', :rows => "9" }
    .span2
      #segments.full-vertical.box
        .icon
        = f.input :segments, :disabled => true, :as => :text, :input_html => { :cols => '40', :rows => "20" }

  .row-fluid.lower
    .span6
      #cost.box
        .icon
        = f.input :cost, :disabled => true, :as => :text, :input_html => { :cols => '40', :rows => "9" }
    .span6
      #revenue.box
        .icon
        = f.input :revenue, :disabled => true, :as => :text, :input_html => { :cols => '40', :rows => "9" }
