%p#notice= notice

%p
  %b Key Partnerships:
  = @canvas.partnerships
%p
  %b Key Activities:
  = @canvas.activities
%p
  %b Key Resources:
  = @canvas.resources
%p
  %b Value Propositions:
  = @canvas.propositions
%p
  %b Customer Relationships:
  = @canvas.relationships
%p
  %b Channels:
  = @canvas.channels
%p
  %b Customer Segments:
  = @canvas.segments
%p
  %b Cost Structure:
  = @canvas.cost
%p
  %b Revenue Streams:
  = @canvas.revenue

= link_to 'Edit', edit_canvas_path(@canvas)
\|
= link_to 'Back', canvases_path
